<h2>Admin Dashboard<h2>

<p><%= link_to 'Merchants', '/admin/merchants' %><p>
<p><%= link_to 'Invoices', '/admin/invoices' %><p>

<section id="top5">
  <h2> Top 5 Customers: </h2> 
  <% @customers.top_5.each do |customer| %>
    <div id="top5-<%= customer.id %>">
    <%= customer.first_name %>
    <%= customer.last_name %>
    <%= customer.count_success_transactions %>
    </div>
  <% end %>
</section>

<div id="incomplete-invoices">
  <h2>Incomplete Invoices</h2>
  <% @invoices.each do |invoice| %>
    <p>
      <%= link_to "Invoice ID ##{invoice.id}", admin_invoice_path(invoice.id) %>
      - Created: <%= invoice.created_at.strftime("%A, %B %d, %Y") %>
    </p>
  <% end %>
</div>
