<h2> ID: <%= @invoice.id %> </h2><br>
<p> Status: <%= @invoice.status %></p>
<p> Created at: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p> Customer: <%= @invoice.customer.first_name %>, <%= @invoice.customer.last_name %></p>
<h3> Items on this invoice: </h3> 
<% @items.each do |item| %>
  <section id="item-<%= item.id%>">
  <p>Item: <%= item.name %></p>
  <p>Quantity: <%= @invoice.quantity_of_item(item) %></p>
  <p>Item sold for: <%= @invoice.price_sold(item) %></p>
  <p>Order Status: <%= @invoice.invoice_item_status(item) %></p>
  </section>
<% end %>

