<h1> Merchants </h1>

<%= link_to "Create a New Merchant", "/admin/merchants/new" %>

<h2> Top 5 Merchants by Revenue </h2>
<section id="top-5">
<% @top_merchants.each do |merchant| %>
  <div id="merchant-best-<%= merchant.id %>">
  <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %> 
  <p>Total Revenue: <%= number_to_currency(merchant.total_revenue / 100.0) %></p>
  <p> Top selling date for <%= merchant.name %> was <%= merchant.best_day %> </p>
  </div>
<% end %>
</section>

<h3> Enabled Merchants </h3>
<div id="merchants-enabled"> 
<% @merchants.each do |merchant| %>
  <% if merchant.status == "enabled" %>
      <section id="merchant-<%= merchant.id %>"> 
      <%= link_to  merchant.name, "/admin/merchants/#{merchant.id}" %> 
      <p> Status: <%= merchant.status %></p>
      <%= form_with url: "/admin/merchants/#{merchant.id}", method: :patch, data: {turbo: false}, local: true do |f| %>
        <%= hidden_field_tag :merchant_status, "update_status" %>
        <%= hidden_field_tag :status, 0 %>
        <%= hidden_field_tag :merchant_id, merchant.id %>
        <%= f.submit "Enable #{merchant.name}"%>
      <% end %>
      <%= form_with url: "/admin/merchants/#{merchant.id}", method: :patch, data: {turbo: false}, local: true do |f| %>
        <%= hidden_field_tag :merchant_status, "update_status" %>
        <%= hidden_field_tag :status, 1 %>
        <%= hidden_field_tag :merchant_id, "#{merchant.id}" %>
        <%= f.submit "Disable #{merchant.name}"%>
      <% end %>
      </section> <br>
  <% end %>
<% end %>
</div>

<h3> Disabled Merchants </h3>
<div id="merchants-disabled"> 
<% @merchants.each do |merchant| %>
  <% if merchant.status == "disabled" %>
      <section id="merchant-<%= merchant.id %>"> 
      <%= link_to  merchant.name, "/admin/merchants/#{merchant.id}" %> 
      <p> Status: <%= merchant.status %></p>
      <%= form_with url: "/admin/merchants/#{merchant.id}", method: :patch, data: {turbo: false}, local: true do |f| %>
        <%= hidden_field_tag :merchant_status, "update_status" %>
        <%= hidden_field_tag :status, 0 %>
        <%= hidden_field_tag :merchant_id, merchant.id %>
        <%= f.submit "Enable #{merchant.name}"%>
      <% end %>
      <%= form_with url: "/admin/merchants/#{merchant.id}", method: :patch, data: {turbo: false}, local: true do |f| %>
        <%= hidden_field_tag :merchant_status, "update_status" %>
        <%= hidden_field_tag :status, 1 %>
        <%= hidden_field_tag :merchant_id, "#{merchant.id}" %>
        <%= f.submit "Disable #{merchant.name}"%>
      <% end %>
      </section> <br>
  <% end %>
<% end %>
</div>