<h1> Show Invoice Details </h1>
  <p>Invoice id: <%= @invoice.id %></p>
  <p>Invoice status: <%= @invoice.status %></p>
  <p>Invoice creation date: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
  <p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<section id="invoice_items">
  <h3>Items On This Invoice</h3>
  <p><% @inv_items.each do |inv_item| %></p>
    <div id="<%= inv_item.id %>">
    <h4>Item name: <%= inv_item.item.name %></h4>
    <p>Quantity: <%= inv_item.quantity %></p>
    <p>Price per item: $<%= inv_item.unit_price %></p>
    <%= form_with url: "/merchants/#{@merchant.id}/invoice_items/#{inv_item.id}", method: :patch do |f| %>
      <%= f.label :itemstatus, "Status of Item" %>
      <%= f.select(:itemstatus, ["packaged", "pending", "shipped"], selected: inv_item.status) %>
      <%= f.submit "Update Item Status" %>
    <% end %>
    </div>
  <% end %>
</section>

<h3> Total Revenue: <%= @revenue %> </h3>
