<h1> Show Invoice Details </h1>
  <p>Invoice id: <%= @invoice.id %></p>
  <p>Invoice status: <%= @invoice.status %></p>
  <p>Invoice creation date: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
  <p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<section id="invoice_items">
  <h3>Items On This Invoice</h3>
  <p><% @invoice.invoice_items.each do |inv_item| %></p>
    <div id="<%= inv_item.item.name %>">
    <p>Item name:</b> <%= inv_item.item.name %></p>
    <p>Quantity:</b> <%= inv_item.quantity %></p>
    <p>Price per item:</b> <%= inv_item.unit_price %></p>
    <p>Invoice Status:</b> <%= inv_item.status %> </p></p>
    <%= form_with url: "/merchants/merchant_id/invoices/invoice_id", method: :patch do |f| %>
      <%= f.label :status, "Item Status" %>
      <%= f.select :status, options_for_select([["enabled", 0], ["disabled", 1]], selected: inv_item.status) %>
      <%= f.submit "Update Item Status" %>
    <% end %>
    </div>
  <% end %>
</section>

<h3> Total Revenue: <%= @revenue %> </h3>
