<h3><%= @merchant.name %></h3>

<%= link_to "Create new item", "/merchants/#{@merchant.id}/items", params: {:merchant_id => @merchant.id} %>

<div id="merchants_items">
<p><% @items.each do |item| %></p>
  <div id="merchants_items-<%= item.id %>">
  <p><%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> Status: <%= item.status %></p>
  <% if item.status == ("enabled") %>
    <p><%= button_to "Disable Item", "/merchants/#{@merchant.id}/items", params: {:item_id => item.id, :disable => item.name}, method: :patch %></p>
  <% else %>
    <p><%= button_to "Enable Item", "/merchants/#{@merchant.id}/items", params: {:item_id => item.id, :enable => item.name}, method: :patch %></p>
  <% end %>
  </div>
  <% end %>
</div>

<div id="enabled">
  <h3>Enabled Items</h3>
  <% @enabled_items.each do |item| %>
    <p><%= item.name %></p>
  <% end %>
</div>

<div id="disabled">
  <h3>Disabled Items</h3>
  <% @disabled_items.each do |item| %>
    <p><%= item.name %></p>
  <% end %>
</div>
