<h1><%= @item.name %></h1>
<%= image_tag Unsplash::Photo.find('sp1BZ1atp7M')[:urls][:thumb], size: "300x400", alt: "Specific Photo", style: "margin: 0 auto;" %>
<p>Description: <%= @item.description %></p>
<p>Current Price: <%= @item.unit_price %></p>

<%= link_to "Edit Item Information", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %>
